  body, html {
    height: 100%;
  }

  .hero-image {
    background-image: url("image/h2.jpg");
    background-color: #cccccc;
    height: 325px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
  }

  #newRandombtn{
    margin-left: 30%;
  }
	
  .mask:hover{
    opacity: 50%;
  }
  
  a{
  	text-decoration: none;
  	color: black;
  }
  
  a:hover{
  	text-decoration: none;
  	color: gray;
  }