body, html {
    height: 100%;
  }

  .hero-image {
    background-image: url("pics/h2.jpg");
    background-color: #cccccc;
    height: 325px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
  }
/*
.banner {
    background-image: url("pics/h6.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 325px;
    color: white;
    margin-bottom: 0;
}

.banner h1 {
    font-size: 4em;
    margin: auto;
    text-shadow: 1px 2px 1px black;
}

.banner h4 {
    margin: auto;
}
*/


#newRandombtn{
    margin-left: 30%;
}

.mask:hover{
    opacity: 50%;
}